body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.container {
  margin: 50px 10%;
}

button.post {
  background: transparent;
  border: none;
  color: rgb(31, 31, 118);
}

button.post:hover {
  cursor: pointer;
  color: rgb(41, 41, 200);
  text-decoration: underline;
}
